                <style>
                    .subtitle{
                        width: max-content;
                        margin: 16px auto;
                        align-items: center;
                    }
                    .subtitle::before,
                    .subtitle::after{
                        content: "";
                        width: 16px;
                        margin: 0 6px;
                        border: 1px solid darkgrey;
                        vertical-align: middle;    
                        display: inline-flex;
                    }
                </style>

                <div class="roboto" style="width: 280px; margin-left: 48px;">
                    <h2>Евгений Евтушенко</h2>
                    <p class="subtitle">1955</p>
                    <pre class="roboto">
    Бывало, спит у ног собака,
    костер занявшийся гудит,
    и женщина из полумрака
    глазами зыбкими глядит
                    </pre>
                    <pre class="roboto">
    Потом под пихтою приляжет
    на куртку рыжую мою
    и ме,
        задумчивая,
                        скажет:
    "А ну-ка, спой! .." - 
                            и я спою.
                    </p>
                </div>
