
{% extends "base.html" %}

{% block title %}Grid sample{% endblock %}

{% block content %}
        <h1>Домашка 6</h1>

        <div class="container">
            {% for i in range(1, 13) %}
                <section id="section{{ i }}" mark="section {{ i }}">
                    <a href="#img{{ i }}"><img class="thumb" src="{{ url_for('static', filename='images/hw_' ~ i ~ '.png') }}" alt="ДЗ {{ i }}"></a>
                    <a id="img{{ i }}" class="full_size" href="#!">
                        <img src="{{ url_for('static', filename='images/hw_' ~ i ~ '.png') }}" alt="ДЗ {{ i }}">
                    </a> 
                    <!--a class="expand" href="#section{{ i }}"><-></a>
                    <a class="collapse" href="#!">-><-</a-->

                    {% include "sections/section" ~ i ~ ".html" %}
                </section>
            {% endfor %}

        </div>
{% endblock %}
