{% extends "base.html" %}

{% block title %}Weather{% endblock %}

{% block content %}
        <h1>Погода онлайн</h1>
        <div class="flex-h">
            <ul style="list-style-type:none;">
                <li><a class="btn" href="{{ url_for('main.weather_city', city='hrodna') }}">Гродно</a></li>        
                <li><a class="btn" href="{{ url_for('main.weather_city', city='london') }}">London</a></li>        
                <li><a class="btn" href="{{ url_for('main.weather_city', city='minsk') }}">Minsk</a></li>        
                <li><a class="btn" href="{{ url_for('main.weather_city', city='new york') }}">New York</a></li>        
                <li><a class="btn" href="{{ url_for('main.weather_city', city='stambul') }}">Stambul</a></li>        
            </ul>
        </div>
{% endblock %}
